
"attribute"                 = "variable"
"comment"                   = "dark_green"
"constant"                  = "constant"
"constant.builtin"          = "blue2"
"constant.character"        = "orange"
"constant.character.escape" = "gold"
"constant.numeric"          = "pale_green"
"constructor"               = "type"
"diff.delta"                = "blue4"
"diff.minus"                = "orange_red"
"diff.plus"                 = "dark_green2"
"function"                  = "fn_declaration"
"function.builtin"          = "fn_declaration"
"function.macro"            = "blue2"
"keyword"                   = "blue2"
"keyword.control"           = "special"
"keyword.directive"         = "special"
"label"                     = "blue2"
"module"                    = "type"
"namespace"                 = "type"
"operator"                  = "text"
"punctuation"               = "text"
"punctuation.delimiter"     = "text"
"special"                   = "light_blue"
"string"                    = "orange"
"string.regexp"             = "gold"
"tag"                       = "blue2"
"type"                      = "type"
"type.builtin"              = "type"
"type.enum.variant"         = "constant"
"variable"                  = "variable"
"variable.builtin"          = "blue2"
"variable.other.member"     = "variable"
"variable.parameter"        = "variable"